<html>
  <head>
    <title>Config Page</title>
  </head>
  <body>
    <form method="post">

      <fieldset>
        <legend>How do you want to clean ?</legend>
        <div>
          <input type="checkbox" id="checkNA" name="source" value="checkNA" checked>
          <label for="checkNA">Check for NA Cells</label>
        </div>
        <div>
          <input type="checkbox" id="IsIncorrectDataType" name="source" value="IsIncorrectDataType" checked> 
          <label for="IsIncorrectDataType">Check for Incorrect Data Type</label>
        </div>
        <div>
          <input type="checkbox" id="MissingData" name="source" value="MissingData" checked>
          <label for="MissingData">Check for Missing Data</label>
        </div>
        <div>
          <input type="checkbox" id="NumOutlier" name="source" value="NumOutlier" checked>
          <label for="NumOutlier">Check for Numerical Outliers</label>
        </div>
        <div>
          <input type="checkbox" id="WrongCategory" name="source" value="WrongCategory" checked>
          <label for="WrongCategory">Check for the wrong category </label>
        </div>
        <div>
          <input type="checkbox" id="typo" name="source" value="typo" checked>
          <label for="typo">Check for typos</label>
        </div>
        <div>
            <form method="GET" action="/home">
                <input type="submit" value = Submit>
            </form>
        </div>
        </fieldset>

      
      </form>
  </body>
</html>