<!DOCTYPE html>

<html>
    <head>
        
        <title>drtE</title>
        <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- 
<script>
    $('#up_btn').click(function(){
    $('#search').click();
});
</script> -->

    </head>
    <body>
        

        <div id="config_div">
            <form method="GET" action="/config">
                <input type="image" id="gear" src="../static/gear_prple.png" ><i class="bi bi-gear"></i> </input>
            </form>
        </div>
    <div>
        <img src="static/drte.png">
        <br>
        <br>
        <!-- <p> Click on the button below to upload your dataset and begin cleaning!</p> -->
        <br>
        <div id="btn_div">
            <form method=post enctype=multipart/form-data>
                <input id = "search" type=file name=file > 
                <button id="up_btn" onclick="document.getElementById('search').click()">Upload File</button>
                <input id = "upload_btn" type=submit value="Start cleaning">
            </form>
        </div>
        

        
    </div>

        <div id="dvCSV"></div>
    </body>
</html>